:root {
    --back-color: #f8f7ff;
    --normal-shadow: 0.3rem 0.5rem 1rem 0.5rem rgba(0,0,0,0.75);
    --inset-shadow: inset 0.3rem 0.5rem 1rem -0.5rem rgba(255, 255, 255, 0.445);
    --primary-color: #343a40;
    --screen-color: #27342e;
    --number-button-color: #a4b0b0;
    --delete-button-color: rgb(172, 0, 0);
    --bright-d-button-color: rgba(255, 0, 0, 0.719);
    --selecting-button-color: rgba(255, 255, 255, 0.5);
    --active-back-button-color:rgba(98, 253, 96, 0.5);
    --active-bright-button-color: rgba(3, 161, 0, 0.5);
    --op-button-color: #242424;
    --button-size: 6.5rem;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

* {
    background-color: var(--back-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    width: 100%;
    font-size: 0.7rem;
    text-align: right;
    background: none;
    margin-right: 1rem;
}

li {
    list-style: none;
    background: none;
}

main {
    border:solid 0.01rem black;
    width: 30rem;
    border-radius: 1rem;
    box-shadow: var(--normal-shadow),
    var(--inset-shadow);
    background-color: var(--primary-color);
}

main .container:first-child {
    margin-top: 2rem;
    align-items: center;
    height: 8%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background: none;
    border: solid 0.01rem black;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

h1, h3{
    background: none;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.container h3 {
    position: relative;
    top: 0.7rem;
}

#screen {
    height: 10%;
    background-color: var(--screen-color);
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

#screen h1 {
    text-align: right;
    padding: 0 1rem 0 0;
    font-size: 4rem;
    width: 100%;
    color: black;
}

#screen section {
    width: 8%;
    background: none;
}

#screen h4 {
    width: 100%;
    height: 50%;
    background: none;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
}

#screen section h4:nth-child(2){
    font-size: 1.4rem;
}

#ckeys {
    border: solid 0.01rem black;
    margin: 0.5rem;
    justify-content: center;
}

#ckeys button {
    width: var(--button-size);
    height: var(--button-size);
    margin: 0.2rem;
    border-radius: 1rem;
    font-size: 3.5rem;
    font-weight: bold;
    background-color: var(--number-button-color);
}

#ckeys li:nth-child(2) > button {
    font-size: 5rem;
}

#ckeys li:nth-child(16) > button, #ckeys li:nth-child(17) > button {
    background-color: var(--delete-button-color);
    color: white;
}

#ckeys li:nth-child(16) > button:active, #ckeys li:nth-child(17) > button:active {
    box-shadow: 0 0 1.5rem var(--delete-button-color);
    background-color: var(--bright-d-button-color);
}

#ckeys li > button:hover {
    box-shadow: 0 0 1.5rem var(--selecting-button-color);
}

#ckeys li > button:active {
    box-shadow: 0 0 1.5rem var(--active-bright-button-color);
    background-color: var(--active-back-button-color);
}

#ckeys li > .op {
    background-color: var(--op-button-color);
    color: white;
}