html {
    font-size: 62.5%;
    font-family: sans-serif;
}

* {
    background-color: #f8f7ff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    width: 100%;
    font-size: 0.7rem;
    text-align: right;
    background: none;
    margin-right: 1rem;
}

li {
    list-style: none;
    background: none;
}

main {
    border:solid 0.01rem black;
    width: 30rem;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: 3px 5px 10px 5px rgba(0,0,0,0.75),
    inset 3px 5px 10px -5px rgba(255, 255, 255, 0.445);
    background-color: #343a40;
}

main .container:first-child {
    margin-top: 2rem;
    align-items: center;
    height: 8%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background: none;
    border: solid 0.01rem black;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

h1, h3{
    background: none;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.container h3 {
    position: relative;
    top: 0.7rem;
}

#screen {
    height: 10%;
    background-color: #27342e;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#screen h1 {
    text-align: right;
    padding: 0 1rem 0 0;
    font-size: 4rem;
    width: 100%;
    color: black;
}

#screen section {
    width: 8%;
    background: none;
}

#screen h4 {
    width: 100%;
    height: 50%;
    background: none;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
}

#screen section h4:nth-child(2){
    font-size: 1.4rem;
}

#ckeys {
    border: solid 0.01rem black;
    margin: 0.5rem;
    justify-content: center;
}

#ckeys button {
    width: 6.5rem;
    height: 6.5rem;
    margin: 0.2rem;
    border-radius: 1rem;
    font-size: 2.3rem;
    font-weight: bold;
    background-color: #a4b0b0;
}