:root {
    --shadow-color: rgba(0,0,0,0.75);
    --inset-shadow-color: rgba(255, 255, 255, 0.445);
    --button-size: 7.8rem;
    --primary-color: #343a40;
    --screen-color: #27342e;
    --number-button-color: #a4b0b0;
    --delete-button-color: rgb(172, 0, 0);
    --bright-d-button-color: rgba(255, 0, 0, 0.719);
    --selecting-button-color: rgba(255, 255, 255, 0.5);
    --active-back-button-color:rgba(98, 253, 96, 0.5);
    --active-bright-button-color: rgba(3, 161, 0, 0.5);
    --op-button-color: #242424;
}

p {
    font-size: 0.84rem;
    margin-right: 1.2rem;
}

main {
    border: solid 0.012rem black;
    width: 36rem;
    border-radius: 1.2rem;
    box-shadow: 0.36rem 0.6rem 1.2rem 0.6rem var(--shadow-color),
    inset 0.36rem  0.6rem 1.2rem -0.6rem var(--inset-shadow-color);
}

main .container {
    margin-top: 2.4rem;
}

.container {
    border: solid 0.012rem black;
    border-radius: 0.6rem;
    margin: 0.6rem;
}

h1, h3 {
    font-size: 2.4rem;
}

#screen h1 {
    padding: 0 1.2rem 0 0;
    font-size: 4.8rem;
}

#screen h4 {
    font-size: 2.4rem;
}

#screen section h4:nth-child(2) {
    font-size: 1.68rem;
}

#ckeys {
    border: solid 0.012rem black;
    margin: 0.6rem;
}

#ckeys button {
    width: var(--button-size);
    height: var(--button-size);
    margin: 0.24rem;
    border-radius: 1.2rem;
    font-size: 4.2rem;
}

#ckeys li:nth-child(2) > button {
    font-size: 6rem;
}

#ckeys li:nth-child(16) > button:active, #ckeys li:nth-child(17) > button:active {
    box-shadow: 0 0 2.25rem var(--delete-button-color);
}

#ckeys li > button:hover {
    box-shadow: 0 0 1.8rem var(--selecting-button-color);
}

#ckeys li > button:active {
    box-shadow: 0 0 1.8rem var(--active-bright-button-color);
}